body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #343a40;
    padding: 20px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-button-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fc-button-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.fc-button-primary:not(:disabled):active {
    background-color: #0056b3;
    border-color: #004085;
}

.fc-event, .fc-event-dot {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.fc-event:hover {
    background-color: #45a049;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
