body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"], button {
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

.navbar {
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
}

#calendar {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fc-daygrid-day-number {  /* Estilo para o número do dia no calendário */
  font-size: 16px;
  color: #333;
}

.fc-event {  /* Estilo para os eventos no calendário */
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.fc-event:hover {
  background-color: #45a049;
}