body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    padding: 20px;
    margin-top: 30px;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.green, .yellow, .red {
    transition: background-color 0.3s ease; /* Transição suave de cores se necessário */
}

.green {
    background-image: linear-gradient(to right, #adffc0 0%, #59ff80 50%, #00ff40 100%);
}

.yellow {
    background-image: linear-gradient(to right, #fee285 0%, #facc40 50%, #ffcc00 100%);
}

.red {
    background-image: linear-gradient(to right, #ff959e 0%, #ff4557 50%, #fb002a 100%);
}

.sidebar {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.filter-button {
    display: block;
    width: 60px;
    height: 60px;
    margin: 8px auto;
    border-radius: 50%;
    border: 4px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.filter-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.filter-button:hover {
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
}

#filter-green {
    background-color: #28a745;
}

#filter-yellow {
    background-color: #ffc107;
}

#filter-red {
    background-color: #dc3545;
}


.footer {
    margin-top: 20px;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.feedback-content {
    display: none; /* starts off hidden */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-toggle {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}
